.box{
     width: 150px;
     height: 150px;
     background-color: blue;
     position: relative;
     transition-property: width, background-color;
     transition: left 1s ease-out;
     left: 0;
    
}

.box:hover{
    width: 150px;
    left:50px;
}